body{
  background:#0b5d3b;
  font-family:Arial;
  text-align:center;
  color:white;
}

.container{
  margin-top:40px;
}

button,select{
  padding:10px;
  margin:10px;
  font-size:16px;
}

#cards{
  margin-top:30px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.card{
  width:90px;
  height:130px;
  background:white;
  color:black;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:22px;
  font-weight:bold;
}
